/*Klasse für Text, der nur für ScreenReader ist eingebunden. Übernommen aus der Empfehlung von Wordpress: https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Styles der DefinitionLists für Meta-Daten (Prüfschritt 1.3.1b/1.1.1a/2.4.4a) */

/* Damit das Aussehen wie in der Original-Version ist müssen die Dafault-Styles der DefinitionList überschrieben werden. */
dd{
  margin-bottom: 0;
  margin-inline-start:0;
  display: inline-block;
}
dl{
  margin-bottom: 0;
}
/* Damit wie im Original ein Slash zwischen Autorenname und Datum steht wurde die Zeile 643 aus style.css an das dd-Element der Definitionlist angepasst. */
.tecxoo-post-details .post-meta dd:not(:last-child)::after {
    content: "/";
}

/* Farbanpassungen für Prüfschritt 1.4.3a */

/* Textfarbe für die Kategorie des Beitrags wurde durch Anpassung der Helligkeit auf ausreichenden Kontast angepasst (überschreibt Zeile 2012-2015 der style.css) */
.tecxoo-post-share .post-category a {
  color: #737373; 
}
/* Textfarbe der Links in Kommentaren (wie Datum, Kommentator-Name, etc.) auf besseren Kontrast angepasst (überschreibt die Standardwerte aus Zeile 150 der bootstrap.css) */
.comment-meta a {
  color:  #006CE0;
}
.comment-content a {
  color:  #006CE0;
}
/* Anpassung der Textfarbe des Kommentars durch setzen auf Schwarz (Überschreibt den Standard-Wert für Paragraphen aus Zeile 297 style.css) */
.comment-content p {
  color: black;
}
/* Farbe für Text im Footer durch Anpassung der Helligkeit auf ausreichend Kontrast geändert (Überschreibt die Zeile 1284 aus style.css)*/
.tecxoo-copyright-text p {
  color: #9C9C9C;
}
/* Textfarbe von Links im Beitrag angepasst (Überschreibt Zeile 656 der style.css) */
.post-content a {
	color:#CB4E0B;
}